@import "tailwindcss";

@theme {
  --color-terracotta: #D06224;
  --color-chile-rojo: #AE431E;
  --color-olive: #8A8635;
  --color-olive-light: #B5B15E;
  --color-sunset: #EAC891;
  --color-bg: #1C1512;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #1C1512;
  color: #D06224
}

@layer utilities {
  @keyframes blink {
    0%,
    100%{opacity: 1}
    50%{opacity: 0}
  }

  .animate-blink{
    animation: blink 0.8s step-end infinite;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0px);
}
